body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9eff1;
}

.login-container {
    background-color: #90c8ac;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5a9367;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #4a7c59;
}

.forgot-password {
    margin-top: 20px;
    font-size: 0.9em;
}

.forgot-password a {
    color: #333;
    text-decoration: none;
}

.register-btn {
    margin-top: 30px;
    background-color: #4a7c59;
}

h1 {
    background-color: blue; /* 设置背景颜色为蓝色 */
    color: white; /* 设置文本颜色为白色，以确保可读性 */
    margin: 0; /* 移除默认的外边距 */
    padding: 10px 0; /* 添加一些内边距 */
    text-align: center; /* 文本居中 */
    width: 100%; /* 设置宽度为100% */
}
